body {
    height: 400vh;
    margin: 0;
}

.inicial
{
    height: 200vh;
    background-color: rgb(36, 33, 33);
}

.imagem {
    padding: 0px;
    margin: 0;
    height: 90vh; 
}

.imagem img {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 90%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%);
}